@import "reset.scss";

.head {
    font-family: 'Work Sans', sans-serif;
}
.menu {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header {
    background-color: #0D1010;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.section {
    display: flex;
}
.bg {
    background-image: url(../dist/img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 90vh;
}
.bg-left {
    background-color: #0D1010;
    width: 20%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo {
    background-image: url(../dist/logo-index.png);
    background-repeat: no-repeat;
    width: 120px;
    height: 35px;
}
.icon::before {
   content: '\1F4DE';
   color: red;
   width: 5px;
   height: 5px;
}
.title {
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.opacity {
    color: transparent;
    -webkit-text-stroke: 1px white;
}
.name {
    position: relative;
    width: min-content;
    margin-left: 25%;
    color: white;
    .button {
        width: 120px;
        background-color: #F10048;
        display: block;
        text-align: center;
        margin-top: 20px;
        padding: 15px;
    }
    .title-info {
        font-size: 12px;
        margin-top: 20px;
        line-height: 20px;
    }
}

